{% extends "base_vet.html" %}
{% load static %}
{% block titulo_principal %} <center>Administracion de Mascotas</center> {% endblock %}
{% block principal %}
    <table class="table table-hover">
        <thead>
            <tr class="table-success">
                <th>Nombre</th>
                <th>Raza</th>
                <th>Id</th>
            </tr>
        </thead>
        {% for animal in animales  %}
            <tr>
                <td> {{ animal.nombre }}</td>
                <td> {{ animal.raza }}</td>
                <td> {{ animal.id }}</td>
                <td> <a href='{% url "historial" animal.id %}'>Ver historial</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
